<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Product Recalls</h1>
		<p>Welcome to the Product Recalls site. We track product recalls to bring you the latest information.</p>
	</div>
</div>

<!-- Main page container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>The Product Recalls site is a fantastic new project that puts you in control of your consumer goods. With our industry-leading teamwork and agile development, we bring you the latest information about which products you own may have issues. The great thing about the Product Recalls is that you don't have to check everyday we will contact you if any of any products you have listed or have been interested in have been recalled. This greatly reduces the amount of work you have to do. No more sifting through websites and news articles hoping that you will stumble upon information about a recalled item you own. We take out all the guess work. </p>
		</div>
	</div>
</div>