<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Product Recalls</h1>
		<p>Welcome to the Product Recalls site. We track product recalls to bring you the latest information.</p>
	</div>
</div>

<!-- Main page container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>The Product Recalls site is a fantastic new project that puts you in control of your consumer goods. With our industry-leading teamwork and agile development, we bring you the latest information about which products you own may have issues.</p>
		</div>
	</div>
</div>