<!DOCTYPE html>
<html>

<br><br><br><br><br>

<div align="center">
<h1>Categories</h1>
</div>
<br><br><br>
<body>
<div align="middle">
<form>

	<select name="Recall Categories">
	
	  <option value="">Foods and Drinks</option>
	  <option value="">Household Goods</option>
	  <option value="">Toys</option>
	  <option value="">Vehicles</option>
	 
	</select>
	
	<input type="submit" value="Go">

</form>
</div>
<body>

</html>
